canvas{
    margin-top: -621px;
    margin-left: 1125px;
    margin-bottom: 200px;
    border: 2px solid black;
  }
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.content{
    display: flex;
	margin-top: 35px;
	margin-bottom: 35px;
    width: 1500px;
	margin: auto;
}

.button{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1.5px solid #94bbe9;
    border-radius: 6px;
    background-color: #fffaf0;
}
.button:hover{
    background-color: #f9d4e4;
    box-shadow: 2px 3px 2px black;
}
.gameInfo{
    border: 2px solid black;
    padding: 10px;
    box-shadow: 2px 3px 2px black;
    margin: 250px 130px;
    background-color: #fffaf0;
}
.box{
    display: flex;
    margin-left: 50px;
    margin-right: 55px;
    margin-bottom: 20px;
}
.seasons{
    margin-left: 25px;
   
}
.h1GameInfo{
    text-align: center;
    margin-bottom: 30px;
}
.characters{
    margin-right: 25px;
    
}
.controlPanel{
    margin-top: 50px;
}
